#

# Solved Exercise for functions

In [26]:
#Q1)

import datetime

def greet_with_time(name) :
    print("\nHello, " + name + "!")
    print("It is ", datetime.datetime.now())
    
print(greet_with_time("hamza"))

Hello, hamza!
It is  2024-11-28 13:13:35.261453
None

In [17]:
#Q2)

def calculate_average(no1, no2, no3) :
    Sum = no1 +no2 + no3
    average = Sum / 3
    return average

print("Average:", calculate_average(23,45,67))

Average: 45.0

In [18]:
#Q3)

def calculate_discount(price, discount_percentage = 10) :
    discount_price = price * (discount_percentage / 100)
    total_price = price - discount_price
    return total_price

print("Total Price:", calculate_discount(200, 5))
print("Total Price:", calculate_discount(450))

Total Price: 190.0
Total Price: 405.0

In [19]:
#Q4)

def print_info(name, age, city) :
    print(name.title(), "lives in", city.title())
    print("His age is", age)
    
print(print_info(age = 18, name = "hamza usman", city = "Lahore"))

Hamza Usman lives in Lahore
His age is 18
None

In [20]:
#Q5)

def find_max(*numbers) :
    Max = max(numbers)
    return Max

print("Max:", find_max(2,3,5,3,1,4,6,7,54,3,2,45,5,3,234))

Max: 234

In [21]:
#Q6)

def factorial(number) :
    result = 1
    if number > 0 :
        result = number * factorial(number - 1)
    return result

print("Factorial:", factorial(10))

Factorial: 3628800

In [22]:
#Q7)

def factorial(number) :
    result = 1
    if number > 0 :
        result = number * factorial(number - 1)
    return result

def apply_function(factorial, number_list) :
    result_list = []
    for number in number_list :
        result_list.append(factorial(number))
    return result_list

no_list = [1,2,3,4,5,6,7,8,9]
print("List:", no_list)
print("Factorial list:", apply_function(factorial, no_list))

List: [1, 2, 3, 4, 5, 6, 7, 8, 9]
Factorial list: [1, 2, 6, 24, 120, 720, 5040, 40320, 362880]

In [23]:
#Q8)
number = int(input("Enter number: "))
square_number = lambda number : number * number
print("Square:",square_number(number))

Enter number: 34
Square: 1156

In [24]:
#Q9)
def doubler(number) :
    return number * 2

def apply_function(factorial, number_list) :
    result_list = []
    for number in number_list :
        result_list.append(doubler(number))
    return result_list

no_list = [1,2,3,4,5,6,7,8,9]
print("List:", no_list)
print("Factorial list:", apply_function(doubler, no_list))

List: [1, 2, 3, 4, 5, 6, 7, 8, 9]
Factorial list: [2, 4, 6, 8, 10, 12, 14, 16, 18]

In [25]:
#Q10)

import time

def measure_time(funct) :
    def wrapper(limit):
        start_time = time.time()
        funct(limit)
        end_time = time.time()
        execution_time = end_time - start_time
        print("Execution Time:", execution_time)
    return wrapper
                
@measure_time
def fibonnaci_series(limit) :
        fibonnaci = 0
        number = 0
        next_number = 1
        i = 0
        while i < limit :
            fibonnaci = number + next_number
            next_number = number
            number = fibonnaci
            if(fibonnaci < limit) :
                print(fibonnaci)
            i = fibonnaci

limit = 150
fibonnaci_series(limit)

1
1
2
3
5
8
13
21
34
55
89
144
Execution Time: 0.0